services:
  postgres:
    image: postgres:16-alpine
    container_name: manga_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "$DB_PORT:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
  app:
    build: .
    container_name: manga_app
    environment:
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@postgres:${DB_PORT}/${DB_NAME}
    volumes:
      - .:/app
    env_file:
      - .env

volumes:
  postgres_data:
